@charset "UTF-8";

/* hero */

.hero {
    margin: 0 auto;
    padding: 1rem;
    height: auto;
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: var(--color-1);
    background-image: url('../../../static/imgs/stacked-peaks-haikei.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero-text {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    text-align: start;
    max-width: 600px;
    transition: all ease-in-out 0.3s;
    margin-top: 2rem;
}

.hero-title {
    font-size: 2.4rem;
    color: var(--color-5);
    font-weight: 700;
    margin: 0;
    font-family: var(--emphasis-text);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    letter-spacing: -0.05rem;
    transition: all ease-in-out 0.3s;
}

.hero-title span {
    color: var(--color-4);
    letter-spacing: -0.05rem;
    text-decoration: underline;
    transition: all ease-in-out 0.3s;
}

.hero-title:hover  {
    color: var(--color-4);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    font-size: 2.6rem;
}

.hero-title:hover span {
    color: var(--color-5);
}

.hero-description {
    font-size: 1.2rem;
    color: black;
    margin: 1.5rem 0 1.5rem 0;
    font-family: var(--normal-text);
}

.hero-btn {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    color: var(--color-1);
    background-color: var(--color-5);
    border: none;
    border-radius: 0.5rem;
    text-decoration: none;
    font-family: var(--normal-text);
    transition: all ease-in-out 0.3s;
}

.hero-btn:hover {
    background-color: var(--color-4);
    color: var(--color-1);
    transform: scale(1.05);
}

.hero-img-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 600px;
    justify-content: center;
    text-align: center;
    align-items: center;
    align-self: center;
}

.hero-img {
    width: 100%;
    height: auto;
    justify-content: center;
    text-align: center;
    align-items: center;
    align-self: center;
}
