@charset "UTF-8";

/* global normalize */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--normal-text);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--emphasis-text);
}

a {
    text-decoration: none !important;
    color: black;
    font-family: var(--normal-text);
}

p {
    font-family: var(--normal-text);
}

img {
    max-width: 100%;
    height: auto;
}

ul {
    list-style: none;
    font-family: var(--normal-text);
}

button {
    cursor: pointer;
}
