@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');

/* variáveis */

:root {
    /* palheta */
    --color-1: #f5f0e6;
    --color-2: #4e342e;
    --color-3: #c49b63;
    --color-4: #333333;
    --color-5: #6b2c2f;

    /* fonts */
    --emphasis-text: 'Cormorant Garamond', 'Times New Roman', 'Arial', sans-serif;
    --normal-text: 'Open Sans', 'Times New Roman', 'Arial', sans-serif;
}
