@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');

/* variáveis */

:root {
    /* palheta */
    --color-1: #F2CEA2;
    --color-2: #BF681B;
    --color-3: #D9965B;
    --color-4: #8C2B07;
    --color-5: #402624;

    /* fonts */
    --emphasis-text: 'Cormorant Garamond', 'Times New Roman', 'Arial', sans-serif;
    --normal-text: 'Open Sans', 'Times New Roman', 'Arial', sans-serif;
}
